# =============================================================================
# Python
# =============================================================================

__pycache__/
*.py[cod]
*$py.class

# =============================================================================
# Jupyter Notebook
# =============================================================================

.ipynb_checkpoints/

# =============================================================================
# Virtual Environments
# =============================================================================

venv/
.venv/
env/
ENV/

# =============================================================================
# VS Code
# =============================================================================

.vscode/

# =============================================================================
# PyCharm
# =============================================================================

.idea/

# =============================================================================
# Operating System Files
# =============================================================================

.DS_Store
Thumbs.db

# =============================================================================
# Python Cache
# =============================================================================

*.egg-info/
.pytest_cache/

# =============================================================================
# Logs
# =============================================================================

*.log
